@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Gravitas+One&family=Montserrat:wght@400;700&display=swap');

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background: black;
}